*{
    margin: 0;
    padding: 0;
    /* serve pra deixar o header no topo da página */
}
body{
    background-color: rgb(241, 241, 241)
}
header{
    background-image: linear-gradient(45deg, #72CFED, #186C86);
    padding: 1em;
}
main{
    display: flex;
    gap: 1.5em;
    margin-top: 4em;
    margin-left: 7em;
    margin-right: 7em;
}
div{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 1px rgb(189, 189, 189);
    box-sizing: border-box;
    padding: 2em;
    border-radius: 5px;
}
h2{
    color: #186C86;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
span{
    display: block;
    /* SPAN originalmente era INLINE mas text alight so serve pra BLOCK. entao esse DISPLAY faz ele virar do tipo BLOCK */
    text-align: right;
    color: #C3C3C3;
}